# Base de datos local (PostgreSQL)
LOCAL_HOST=localhost
LOCAL_DATABASE=InstaCart_DB
LOCAL_USER=postgres
LOCAL_PASSWORD=tu_password
LOCAL_PORT=5432

# Neon PostgreSQL (nube)
NEON_HOST=tu_host.neon.tech
NEON_DATABASE=neondb
NEON_USER=neondb_owner
NEON_PASSWORD=tu_password
NEON_PORT=5432
NEON_SSLMODE=require  # para DB local usar disable o prefer

# Configuracion del proyecto
DATA_PATH=data/raw
RANDOM_SEED=42
N_USERS=100000

# API de recomendaciones (FastAPI)
API_MODEL_PATH=models/model.pkl
API_CLUSTER_MODEL_PATH=models/cluster_models.pkl
API_MODEL_LOG_PATH=models/model_log.json
API_HOST=0.0.0.0
API_PORT=8000
